.item {
  display: flex;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
}

.top {
  flex-direction: column;
  width: 250px;

  .verticalImg {
    width: 100%;
    height: 150px;
    border-radius: 2px;
  }

  .img {
    height: 100%;
    object-fit: cover;
  }
}

.top:not(:last-child) {
  margin-right: 20px;
}

.standart {
  width: 100%;

  margin-bottom: 10px;
 }

.standartImg {
  width: 200px;
    margin-right: 25px;
}
